
<div class="container-fluid">
    <div class="row g-3">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">صدور فاکتور فروش </h4>
        <hr/>
        <form   #userorder = "ngForm" class="needs-validation" novalidate  (ngSubmit) = "onClickSubmit(userorder.value)">
          <div class="col-sm-5">
            <label for="cc-number" class="form-label">شماره همراه</label>
            <input type="number" class="form-control" id="cc-number" placeholder="09121234567" required>
            <div class="invalid-feedback">
              شماره تلفن صحیح نیست
            </div>
          </div>
          <div class="row g-3">
            <div class="col-sm-6">
              <label class="form-label">نام </label>
              <input type="text" class="form-control"    required >
              <div class="invalid-feedback">
                نام درست وارد نشده
              </div>
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">نام خانوادگی</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                نام خانوادگی درست وارد نشده
              </div>
            </div>
            <div class="col-12">
              <label for="address" class="form-label">آدرس</label>
              <input type="text" class="form-control" id="address" placeholder="تهران - خیابان بخارست" required>
              <div class="invalid-feedback">
                آدرس درست وارد نشده
              </div>
            </div>

          </div>

          <hr class="my-4">

          <h4 class="mb-3">نحوه پرداخت</h4>
          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
              <label class="form-check-label" for="credit">اعتباری</label>
            </div>
            <div class="form-check">
              <input id="cash" name="paymentMethod" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="cash">نقدی</label>
            </div>
            <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="paypal">کارت</label>
            </div>
          </div>
          <hr class="my-4">
          <div class="row justify-content-sm-end">
          <button class="w-50 btn btn-primary btn-lg"   routerLink="/orderItem">ادامه</button>
          </div>
        </form>
      </div>
    </div>
  {{orderServiceData}}
<input type="text" [(ngModel)]="orderServiceData"   >

</div>
