<div class="card w-auto m-2 ">

  <div class="card-header">
    <h5>افزودن به لیست فروش </h5>
  </div>
  <div class="card-body p-2">
    <form id="regFrm" class="needs-validation" [formGroup]="orderItemForm" (ngSubmit)="onFormSubmit()">
      <div class="input-group">
        <div class="col p-2">

          <label for="codez" class="form-label">کد ظرف </label>
          <input id="codez" type="number" class="form-control"
                 [ngbTypeahead]="search"
                 [inputFormatter]="formatter"
                 [resultFormatter]="resultFormatter"
                 [(ngModel)]="model" [ngModelOptions]="{standalone: true}"
           />
          <div class="invalid-feedback">
            کد صحیح نیست
          </div>

          <label for="codeKala" class="form-label">کد کالا </label>
<!--          <input type="number" class="form-control" id="firstName" placeholder="" value="" formControlName="code">-->
          <input id="codeKala" type="number" class="form-control"
                 formControlName="codekala"
                 [ngbTypeahead]="search"
                 [inputFormatter]="formatter"
                 [resultFormatter]="formatter"
          />
          {{orderItemForm.value.name}}
          <div class="invalid-feedback">
            کد صحیح نیست
          </div>
          <label for="lastName" class="form-label">نام کالا</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" formControlName="name" [(ngModel)]="orderItemForm.value.name">
        </div>

         <picture class="col p-3">
          <source  *ngIf="(model?.name)"  srcset="../../../../assets/product_img/{{model?.imgUrl}}" type="image/svg+xml">
          <img src="../../../../assets/product_img/{{model?.imgUrl}}" class="img-fluid img-thumbnail" alt="..." style="width: 200px">
        </picture>
      </div>


      <div class="row g-3">
        <!--        <div class="col-sm-6">-->
        <!--          <label for="firstName" class="form-label">کد کالا </label>-->
        <!--          <input type="number" class="form-control" id="firstName" placeholder="" value="" formControlName="code">-->
        <!--          <div class="invalid-feedback">-->
        <!--            کد صحیح نیست-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="col-sm-6">-->
        <!--          <label for="lastName" class="form-label">نام کالا</label>-->
        <!--          <input type="text" class="form-control" id="lastName" placeholder="" value="" formControlName="name">-->
        <!--        </div>-->
      </div>
      <div class=" input-group  ">
        <div class="col">
          <label class="form-label "> مقدار </label>
          <input type="number" class="form-control" placeholder="" value="" formControlName="qty">
        </div>
        <div class="col pe-2">
          <label class="form-label"> فیکسر </label>
          <input type="number" class="form-control" placeholder="" value="" formControlName="extraQty">
        </div>
      </div>
      <div class="col-sm-6">
        <label for="cc-price" class="form-label">مبلغ</label>
        <input type="number" class="form-control" id="cc-price" placeholder="" formControlName="price">
        <div class="invalid-feedback">
        </div>
      </div>
      <div class="col-sm-6">
        <label for="desc" class="form-label">توضیحات</label>
        <textarea aria-multiline="true" row="5" class="form-control" id="desc" placeholder=""
                  formControlName="desc"></textarea>
        <div class="invalid-feedback">
        </div>
      </div>
      <hr/>
      <div class="container">
        <div class="row text-center">
          <div class="col-5 order-last d-grid gap-2 mx-auto ">
            <button class="btn btn-success btn-lg " role="button" type="submit">ثبت نهایی</button>
          </div>
          <div class="col">

          </div>
          <div class="col-5 order-first  d-grid gap-2 mx-auto">
            <button class="btn btn-primary   btn-lg" role="button" (click)="addOrderItem()" type="button"> افزودن
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!--<select class="form-select-lg" id="select02" [(ngModel)]="codeZarf" (change)="selectOption($event.target)">-->
<!--  <option [value]="item.code" *ngFor="let item of products" [selected]="item.code">{{item.code}}</option>-->

<!--</select>-->


<div class="col-md-5 ng-scope">

  <hr>
  <pre>Model: {{ model | json }}</pre>
</div>

<app-list-orders></app-list-orders>
