<!--<input list="list" value="" (change)="getItem($event)">-->
<!--<datalist  id="list" >-->
<!--  <option *ngFor="let obj of list" [value]="obj.productId"  >{{obj.categoryName}} </option>-->
<!--</datalist>-->
<app-list-orders></app-list-orders>


<div class="card w-auto m-2 ">
  <div class="card-header">
    <div class="row g-2">
      نحوه پرداخت
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

  </div>
</div>
<div class="container-fluid ">
  <button   class="btn btn-success " >
     ثبت و تایید فاکتور
  </button>
</div>

